* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main {
    width: 80%;
    display: flex;
    margin: auto;
    background-color: rgb(135, 206, 235);
}
.searchFormWrapper {
    width: 20%;
    margin: 30px;
    display: block;
    border-radius: 30px;
    font-size: 26px;
    position: relative;
}
.searchForm{
    position: sticky;
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.searchByName,.sortingByAge,
.sortingByAlphabet,.filterByGender{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding: 5%;
    background-color:rgb(137, 207, 240);
    box-shadow: -20px 20px 20px rgba(0,0,0, 0.3);
    border-radius: 20px;
}
.filterByGender{
    flex-direction: row;
}
.sortingByAge>div,
.sortingByAlphabet>div{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
#searchName{
    background: none;
    line-height: 1.4;
    border-radius: 3px;
    padding: 1%;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    font-family: inherit;
}
input[type='radio'],
input[type='checkbox']{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 3px;
    appearance: none;
    align-self: center;
    cursor: pointer;
}
input[type='radio']:checked,
input[type='checkbox']:checked{
    border: 1px solid #fff;
    background-color: rgb(137, 207, 240);
}   

.label{
    cursor: pointer;
}
.contentWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    padding: 20px;
    gap: 30px;
}
.userCard{
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(0,0,0, 0.3);
    text-align: center;
}
.userCard>img{
    border-radius: 20px;
    box-shadow: -20px 20px 20px rgba(0,0,0, 0.3);
}